{% extends 'base.html.twig' %}

{% block title %}Détail du film{% endblock %}
{% block pageTitle %}Détail du film{% endblock %}

{% block body %}
<div class="jumbotron" style="height: 525px;">
    <div class="container">
        <div class="row">
            <div class="col-md-4" >
                <div class="col-auto d-none d-lg-block">
                {% if film.affiche is not null %}
                    <img src="{{ asset("uploads/"~film.affiche) }}" width="100" />
                {% endif %}
                </div>
                <h1 class="text-center">{{film.titre}} </h1>
                <h2 class="text-center text-muted">Annee de sortie: {{film.sortie|date("Y")}}</h2>
                <h2 class="text-center text-muted">Genre: {{ film.genre.categorie}}</h2>
                <h2>Acteurs :</h2>
                {# <td>{% for acteur in film.acteurs %}
                    <a href="{{ url('acteur', {'id': acteur.id}) }}" >{{ acteur.nom }}</a>
                    {% endfor %}</td> #}
            </div>
        </div>
    </div>
</div>
{% endblock %}